.u-heading-l {
    font-size: 3.6rem;
    font-family: $font-secondary;
    font-weight: 400;
    color: $white;

    &--black {
        color: $black-heading;
    }
}
.u-heading-md {
    font-size: 2rem;
    font-weight: 700;
    color: $gray;

    &--black-heading {
        color: $black-heading;
    }

    &--black {
        color: $black;
    }

    &--white {
        color: $white;
    }
}
.u-heading-sm {
    font-size: 1.4rem;
    font-weight: 600;
    color: $black-heading;

    &--white {
        color: $white;
    }
}