.u-heading-l {
    position: relative;
    font-size: 3rem;
    font-family: $font-secondary;
    color: $white;
    line-height: 4.32rem;
    font-weight: 400;
    margin-bottom: 5rem;
    text-transform: uppercase;
    
    @include mq($phone, min) {
        font-size: 3.3
    }
 
    @include mq($tablet, min) {
        font-size: 3.6rem;
    }

    &::after {
        @include line-under-heading;
    }
}

.u-heading-l--main {
    margin-bottom: 3rem;

    @include mq($tablet, min) {
        margin-bottom: 7.2rem;
    }

    &::after {
        background-color: $white;

        @include mq($phone, min) {
            left: 0;
            transform: translateX(0);
            bottom: -3.45rem;
        }
    }
}

.u-heading-l--black {
    color: $dark-gray;
    line-height: 4.3rem;
}

.u-heading-md {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    color: $gray;
    line-height: 2.4rem;
}

.u-heading-md--black {
    color: $black;
}

.u-heading-md--white {
    color: $white;
}

.u-heading-md--orange {
    color: $color-orange;
    text-transform: capitalize;
    line-height: 2.4rem;
}

.u-heading-md--dark-gray {
    color: $dark-gray;
    line-height: 4.3rem;
}

.u-heading-sm {
    font-size: 1.4rem;
    font-weight: 600;
    color: $dark-gray;
}

.u-heading-sm--white {
    color: $white;
}