//fonts
$main-font: 'Open Sans';
$font-secondary: 'Raleway';
// colors
$color-orange: #FF8B38;
$color-orange-1: #ff9b51;
$color-orange-2: #FE9D56;
$text: #86878B;
$gray: #333333;
$dark-gray: #212121;
$form-text: #BDBDBD;
$background: #F5F5F5;
$white: #ffffff;
$black: #000000;
$icons: #CCCCCC;


// breakpoints
$phone: 640;
$tablet-sm: 767;
$tablet: 991;
$tablet-l: 1199;
$lap-small: 1250;


