.c-hero-banner {
	background-color: rgba($black, 0.52);
	background-image: url(../assets/images/hero-background.png);
	background-size: cover;
	background-position: center center;
	background-blend-mode: soft-light;

	@include mq($tablet, min) {
		padding: 11rem 0 12.6rem;
	}
}

.c-hero-banner__wrapper {
	padding: 2rem 1rem;

	@include mq($phone, min) {
		display: flex;
		justify-content: space-between;
	}

	@include mq($tablet, min) {
		padding: 0;
	}
}

.c-hero-banner-content {
	text-align: center;

		@include mq($phone, min) {
			width: 50%;
			margin-right: 2rem;
			text-align: start;
		}
}

.c-hero-banner-content__text {
	color: $white;
	opacity: 0.8;
	font-family: $font-secondary;
	font-weight: 300;
	margin-bottom: 2rem;
	font-size: 1.6rem;
	line-height: 2.3rem;

	@include mq($tablet, min) {
		margin-bottom: 4.3rem;
	}
}

.c-media {
	text-align: center;
	box-shadow: 0 1px 3px rgba($black, .38);
	padding: 2rem 1rem;

	@include mq($tablet, min) {
		padding: 1.7rem 0 1.9rem;
		text-align: start;
	}
}
.c-media__wrapper {

	@include mq($tablet, min) {
		display: flex;
		justify-content: space-between;
	}
}
.c-media__content {
	max-width: 36.4rem;
	margin: 0 auto;

	@include mq($tablet, min) {
		margin: 0;
	}
}

.c-media__heading {
	margin-bottom: 1rem;

	@include mq($tablet, min) {
		margin-bottom: 0.5rem;
}
}

.c-media__text {
	margin-bottom: 1rem;

	@include mq($tablet, min) {
		margin-bottom: 0;
}
}
.c-transition-tabs {
	background-color: $background;
	overflow: hidden;

	@include mq($tablet, min) {
		padding: 14.9rem 0 11.6rem;
	}
}
