*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 10px; }

body {
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: #86878B; }

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/OpenSans-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/OpenSans-SemiBold.ttf);
  font-weight: 600; }

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/OpenSans-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Bold.ttf);
  font-weight: 700; }

.u-heading-l {
  position: relative;
  font-size: 3rem;
  font-family: "Raleway";
  color: #ffffff;
  line-height: 4.32rem;
  font-weight: 400;
  margin-bottom: 5rem;
  text-transform: uppercase; }
  @media screen and (min-width: 640px) {
    .u-heading-l {
      font-size: 3.3; } }
  @media screen and (min-width: 991px) {
    .u-heading-l {
      font-size: 3.6rem; } }
  .u-heading-l::after {
    content: '';
    position: absolute;
    bottom: -1.4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 6.4rem;
    height: 0.2rem;
    background-color: #FF8B38; }
    @media screen and (min-width: 991px) {
      .u-heading-l::after {
        bottom: -2.6rem; } }

.u-heading-l--main {
  margin-bottom: 3rem; }
  @media screen and (min-width: 991px) {
    .u-heading-l--main {
      margin-bottom: 7.2rem; } }
  .u-heading-l--main::after {
    background-color: #ffffff; }
    @media screen and (min-width: 640px) {
      .u-heading-l--main::after {
        left: 0;
        transform: translateX(0);
        bottom: -3.45rem; } }

.u-heading-l--black {
  color: #212121;
  line-height: 4.3rem; }

.u-heading-md {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: #333333;
  line-height: 2.4rem; }

.u-heading-md--black {
  color: #000000; }

.u-heading-md--white {
  color: #ffffff; }

.u-heading-md--orange {
  color: #FF8B38;
  text-transform: capitalize;
  line-height: 2.4rem; }

.u-heading-md--dark-gray {
  color: #212121;
  line-height: 4.3rem; }

.u-heading-sm {
  font-size: 1.4rem;
  font-weight: 600;
  color: #212121; }

.u-heading-sm--white {
  color: #ffffff; }

.c-button {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 1.1rem 3.1rem;
  border: 2px solid #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem; }

.c-trial-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background-color: #ffffff;
  justify-content: space-between;
  overflow: hidden;
  width: 30rem;
  height: 30rem;
  margin: 2rem auto 0;
  border-radius: 5px; }
  @media screen and (min-width: 640px) {
    .c-trial-form {
      margin: 2.95rem 0 auto 0; } }
  @media screen and (min-width: 991px) {
    .c-trial-form {
      width: 36rem;
      height: 37.1rem; } }

.c-trial-form__header {
  padding: 1.3rem 0 1.4rem;
  text-align: center;
  background-color: #F5F5F5;
  height: 5.4rem; }

.c-trial-form__input {
  margin: 0 4.6rem;
  border: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
  padding: 0.8rem 0 0.8rem 1.4rem; }
  .c-trial-form__input::placeholder {
    color: #FF8B38; }

.c-trial-form__footer {
  background-color: #FF8B38;
  height: 5.4rem;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  padding: 1.7rem; }

.c-trial-form__button {
  background-color: transparent;
  border: none; }

.c-header {
  background-color: #000000; }

.c-header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem 2rem; }
  @media screen and (min-width: 640px) {
    .c-header__wrapper {
      flex-direction: row;
      justify-content: space-between; } }

.c-header__logo {
  margin-bottom: 2rem; }
  @media screen and (min-width: 640px) {
    .c-header__logo {
      margin-bottom: 0; } }

.c-header__logo-image {
  height: 2.7rem;
  width: 7.9rem; }

.c-navigation__list {
  display: flex;
  list-style-type: none; }

.c-navigation__item:not(:last-child) {
  margin-right: 1rem; }
  @media screen and (min-width: 640px) {
    .c-navigation__item:not(:last-child) {
      margin-right: 4.6rem; } }

.c-navigation__link {
  color: #ffffff;
  opacity: 0.69;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.68rem; }

.l-container {
  max-width: 115.8rem;
  width: 100%;
  margin: 0 auto; }
  @media screen and (max-width: 1250px) {
    .l-container {
      max-width: 99.1rem; } }
  @media screen and (max-width: 991px) {
    .l-container {
      max-width: 76.7rem; } }

.l-container-md {
  max-width: 113.4rem;
  width: 100%;
  margin: 0 auto; }

.c-hero-banner {
  background-color: rgba(0, 0, 0, 0.52);
  background-image: url(../assets/images/hero-background.png);
  background-size: cover;
  background-position: center center;
  background-blend-mode: soft-light; }
  @media screen and (min-width: 991px) {
    .c-hero-banner {
      padding: 11rem 0 12.6rem; } }

.c-hero-banner__wrapper {
  padding: 2rem 1rem; }
  @media screen and (min-width: 640px) {
    .c-hero-banner__wrapper {
      display: flex;
      justify-content: space-between; } }
  @media screen and (min-width: 991px) {
    .c-hero-banner__wrapper {
      padding: 0; } }

.c-hero-banner-content {
  text-align: center; }
  @media screen and (min-width: 640px) {
    .c-hero-banner-content {
      width: 50%;
      margin-right: 2rem;
      text-align: start; } }

.c-hero-banner-content__logo {
  margin-bottom: 2.5rem; }

.c-hero-banner-content__logo-img {
  width: 17.5rem;
  height: 6rem; }

.c-hero-banner-content__text {
  color: #ffffff;
  opacity: 0.8;
  font-family: "Raleway";
  font-weight: 300;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 2.3rem; }
  @media screen and (min-width: 991px) {
    .c-hero-banner-content__text {
      margin-bottom: 4.3rem; } }
