.c-button {
	display: inline-block;
	color: $white;
	text-decoration: none;
	padding: 1.05rem 2.95rem;
	border: 1px solid $white;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.8rem;
}

.c-button--alt {
	background-color: $color-orange;
	border-radius: 2px;
	border: none;
	line-height: 2rem;
	padding: 1rem 3.1rem 1rem;
}