.c-trial-form {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	background-color: $white;
	justify-content: space-between;
	overflow: hidden;
	width: 30rem;
	margin: 2rem auto 0;
	border-radius: 5px;

	@include mq($tablet, min) {
		width: 36rem;
	}
}

.c-trial-form__header {
	padding: 1.3rem 0 1.4rem;
	text-align: center;
	background-color: $background;
	height: 5.4rem;

}

.c-trial-form__input {
	margin: 0 4.6rem;
	border: none;
	box-shadow: 0 1px 0 rgba($black, 0.16);
	padding: 0.8rem 0 0.8rem 1.4rem;

	&::placeholder {
		color: $color-orange;
	}
}

.c-trial-form__footer {
	background-color: $color-orange;
	height: 5.4rem;
	text-align: center;
	font-weight: 600;
	color: $white;
	padding: 1.7rem;
}

.c-trial-form__button {
	background-color: transparent;
	border: none;
}