.c-logo {
	margin-bottom: 2rem;

	@include mq($phone, min) {
			margin-bottom: 0;
	}
}

.c-logo--big {
	margin-bottom: 2.5rem;
}

.c-logo__image {
	height: 2.7rem;
	width: 7.9rem;
}

.c-logo__image--big {
	width: 17.5rem;
	height: 6rem;
}


