.c-social-media {
	align-self: center;
}

.c-social-media__link {
	color: $icons;
	font-size: 3rem;

	@include mq($tablet, min) {
		font-size: 3.4rem;
	}

	&:not(:last-child) {
		margin-right: 1rem;

		@include mq($phone, min) {
			margin-right: 3rem;
		}

		@include mq($lap-small, min) {
			margin-right: 6rem;
		}
	}
}