.c-social-media {
	align-self: center;
}

.c-social-media__link {
	fill: $icons;


	&:not(:last-child) {
		margin-right: 1rem;

		@include mq($phone, min) {
			margin-right: 3rem;
		}

		@include mq($lap-small, min) {
			margin-right: 6rem;
		}
	}
}

.c-social-media__icon {
	width: 3rem;
	height: 3rem;

	@include mq($tablet, min) {
		width: 4.8rem;
	height: 4.8rem;
	}
}