.c-header {
    background-color: $black;
}

.c-header__wrapper {
    @include flex-center;
    flex-direction: column;
    padding: 2rem 1rem 2rem;

    @include mq($phone, min) {
        flex-direction: row;
        justify-content: space-between;
    }
}
