.l-container {
    max-width: 115.8rem;
    width: 100%;
    margin: 0 auto;

    @include mq($lap-small) {
        max-width: 98rem;
    }

    @include mq($tablet) {
        max-width: 80rem;
    }
}

.l-container-md {
    max-width: 113.4rem;
    width: 100%;
    margin: 0 auto;
}