.c-navigation__list {
	display: flex;
	list-style-type: none;
}

.c-navigation__item {
	margin-right: 1rem;

	@include mq($phone, min) {
		margin-right: 4.6rem;
	}
}

.c-navigation__link {
	color: $white;
	opacity: 0.69;
	text-decoration: none;
	font-weight: 600;
	line-height: 1.68rem;
}