.c-navigation__list {
	display: flex;
}

.c-navigation__item {
	margin-right: 1rem;

	@include mq($phone, min) {
		margin-right: 4.6rem;
	}
}

.c-navigation__link {
	color: $white;
	opacity: 0.69;
	text-decoration: none;
}